:root {
  --title-color: #111111;
}

/* === DISPLAY === */

#display {
  width: 940px;
  height: 366px;
  background-color: #fbdfdb;
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}

#main-content {
  margin: 20% 0 20% 10%;
  width: 316px;
  height: 122px;
}

#main-content h1 {
  color: var(--title-color);
  font-size: 32px;
  font-weight: bold;
}

#main-content p {
  color: #000000;
  opacity: 0.7;
  font-size: 18px;
  line-height: 28px;
  text-align: justify;
}

#display img {
  position: absolute;
  bottom: 0;
  right: 10%;
}
